/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: Lato, Helvetica, Sans-Serif;
  font-weight: 400;
}

.lead {
  font-weight: 500;
}

.bio {
  font-weight: 400;
}
@font-face {
  font-family: "Lavanderia";
    src: url("http://typefront.com/fonts/825591970.eot");
    src: local("☺"),
    url("http://typefront.com/fonts/825591970.woff") format("woff"),
    url("http://typefront.com/fonts/825591970.ttf") format("truetype"),
    url("http://typefront.com/fonts/825591970.svg") format("svg");
}




/* CUSTOMIZE THE NAVBAR
--------------------------------------------------
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-inverse .navbar-brand {
color: #f81022;
}

.navbar-inverse {
  background-color: #111111;
  border-color: #131313;
}
.navbar-inverse .navbar-brand {
  color: #f81011;
  font-family: "Lavanderia", "Lobster";
  font-size: 24px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #CC1122;
  background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333;
  background-color: transparent;
  }
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}


/* JUMBOTRON CUSTOMIZATION
------------------------------
*/
.jumbotron{
  height: 200px;
  font-family: "Lavanderia", "Lobster";
  color: #AA1100;
  width:100%;
  text-align: center;
  font-size: 72px;
  background-color: #FFFFFF;
  margin-bottom: -60px;
}

.jumbotron #subheading {
  padding-bottom: 30px;
}

#mech_marketing {
  padding-top: 30px;
}

#first-divider {
  margin-top: 0px;
}

#the-team {
  margin-top: -70px;
  margin-bottom: 10px;
}

.faq-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
myCarousel{
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
}


/* Carousel base class */
.carousel {
  margin: 0 auto;
  height: 300px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #eee;
  text-shadow: 0 3px 4px rgba(0, 0, 0, .8);
  font-weight: 700;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: relative;
  min-width: 960px;
  min-height: 100%;
  left: 50%;
  margin-left: -480px;

}

  #code_pix {
    left: 0;
    margin-left: 0px;
  }

#home {
  color: inherit;
  text-decoration: inherit;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing h3 {
  margin-top: -6px;
  margin-bottom: 6px;
  font-size: 115%;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

#home {
  text-align: center;
}

#subheading {
  font-family: "Lato";
  font-weight: 300;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  #smaller_mobile_carousel_heading {
    font-size: 160%;
  }
  .btn-lg {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .jumbotron{
    height: 200px;
    font-family: "Lavanderia", "Lobster";
    color: #AA1100;
    width:100%;
    text-align: center;
    font-size: 72px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  myCarousel{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
  }
  .carousel {
    height: 500px;
    margin-bottom: 0px;
  }
  .carousel .item {
    height: 500px;
    width: 100%;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: relative;
    min-width: 1600px;
    min-height: 100%; 
    left: 50%;
    margin-left: -800px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
